body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 25px;
}

nav {
    background: #444;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.hero {
    background: #ddd;
    padding: 40px;
    text-align: center;
}

#cars {
    padding: 40px;
    text-align: center;
}

.car-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.car-card {
    background: white;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.car-card img {
    width: 100%;
    border-radius: 10px;
}

.price {
    font-weight: bold;
    color: green;
    font-size: 18px;
}

#contact {
    padding: 40px;
    text-align: center;
    background: #eee;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}